<button mat-button routerLink="categories">Nouvelle catégorie</button>

<div cdkDropListGroup>
  <div
    cdkDropList
    [cdkDropListData]="projects$ | async"
    class="list container"
    (cdkDropListDropped)="drop($event)"
    *ngFor="let category of categories$ | async"
  >
    <h2>{{ category.name }}</h2>
    <button mat-button (click)="addProject(category.id)">Nouveau projet</button>

    <div
      *ngFor="let projectId of sortByPosition(category.projectIds)"
      class="item"
      [routerLink]="[projectId.id, 'edit']"
      cdkDrag
    >
      {{ getProjectById(projectId.id).title }}
    </div>
  </div>
</div>
