<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100%" fxFlex.sm="60%" fxFlex.xs="100%">
    <!-- HEADER -->
    <div *ngIf="project$ | async as project">
      <div ngStyle.lt-md="margin:20px;" ngStyle.gt-sm="width:500px;">
        <h1>{{ project.title }}</h1>
        <p>
          {{ project.description }}
        </p>

        <br />
        <span> {{ project.caption }}</span>
      </div>
      <!-- IMAGES -->
      <div *ngFor="let image of project.images">
        <img
          ngClass.lt-md="images-projet-mobile"
          ngClass.gt-sm="images-projet"
          src="{{ image.downloadUrl }}"
        />
        <p
          ngStyle.xs="margin-right: 5%; margin-left: 5%; width: 90%;"
          ngStyle.gt-sm="width:500px;"
          class="legende-projets"
        >
          {{ image.caption }}
        </p>
      </div>
    </div>
  </div>
</div>
