.width-mobile {
  width: 100%;
}

.width-desktop {
  width: 500px;
}

.width-xl {
  width: 700px;
}

.padding-top {
  padding-top: 10px;
}

.legende-projets {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #666666;
  text-align: center;
  font-style: italic;
}

.description {
  white-space: pre-line;
}

#button {
  line-height: 15px;
  padding: 0 10px !important;
  background-color: grey;
  color: white;
}
