.tiles {
  width: 100%;
}
.pointer {
  cursor: pointer;
}

.mobile-tiles {
  width: 100%;
}

.container {
  width: 500px;
}

.container-xl {
  width: 700px;
}


.container-sm {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  width: 90%;
}

.container-xs {
  width: 100%;
}

