mat-toolbar {
  height: 70px;
}

.toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
}

.logo-container {
  text-align: center;
  margin-left: -20px;
}

.img-logo {
  height: 70px;
}
