<div class="container">
  <div *ngFor="let title of imgTitles; let i = index">
    <!-- IMAGE TITLE  -->
    <img
      ngClass.xs="title-img-xs"
      ngClass.gt-xs="title-img"
      [class.first-img]="i === 0"
      [class.other-img]="i > 0"
      src="assets/img/{{ title.img }}"
    />
    <!-- PROJECTS -->
    <ul *ngFor="let project of projects">
      <ng-container *ngIf="project.section === title.section">
        <div ngClass.gt-xs="project" ngClass.xs="project-xs">
          <a class="project-link" routerLink="/{{ project.lien }}">
            <span ngClass.xs="project-title-xs" ngClass.sm="project-title-sm">{{
              project.titre
            }}</span>
          </a>
        </div>
      </ng-container>
    </ul>
  </div>
  <div>
    <a href="http://instagram.com/lenapiroux" target="_blank">
      <img
        class="contact-img"
        src="assets/img/instalena.jpg"
        alt="Contactez-moi!"
      />
    </a>
    <a href="mailto:atelier@lenapiroux.com">
      <img class="contact-img" src="assets/img/mail.jpg" alt="Contactez-moi!" />
    </a>
  </div>
</div>
