.container {
  position: sticky;
  position: -webkit-sticky;
  top: 75px;
  width: 240px;
}
ul {
  line-height: 0.8;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.project {
  padding-bottom: 3px;
}
.project-xs {
  padding-bottom: 10px;
}
.project-title-sm {
  font-size: 15px;
}
.project-title-xs {
  font-size: 20px;
}
.project-link {
  color: #666666;
  text-decoration: none;
}

.project-link:hover {
  color: #000000;
}
.title-img {
  height: 30px;
}
.title-img-xs {
  height: 40px;
}

.first-img {
  margin-top: 0%;
  margin-bottom: 2%;
}

.other-img {
  margin-top: 7%;
  margin-bottom: 2%;
}

.contact-img {
  height: 30px;
  margin-left: 3%;
  width: 33px;
}
