.app-container {
  padding-top: 4%;
  display: inline-block;
  margin: auto;
}

.menu-container {
  display: block;
  float: left;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 35px;
}

#logo {
  width: 200px;
  margin-left: 1.5%;
  top: 0;
}

.content-container-desktop {
  margin-top: 80px;
  display: block;
  float: left;
}
