<div>
  <!-- TOOLBAR -->
  <app-toolbar></app-toolbar>
  <div ngClass.gt-sm="app-container-desktop" ngClass.xl="app-container-xl">
    <!-- MENU -->
    <div class="menu-container" fxHide.lt-md="true">
      <a routerLink="home">
        <img id="logo" ngClass.xs="big" src="assets/img/logoweb.png" />
      </a>
      <app-menu></app-menu>
    </div>

    <!-- PAGE -->
    <div ngClass.gt-sm="content-container-desktop">
      <router-outlet></router-outlet>
      <div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
