.images-projet-mobile {
  width: 100%;
  min-height: 300px;
}
.icon-text {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.images-projet {
  padding-top: 10px;
  width: 500px;
}

.upload-box {
  height: 300px;
  padding-bottom: 30px;
}

.description {
  width: 350px;
}

.legende {
  padding-right: 25px;
}

.title {
  justify-content: left;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 20px;
}

.title-line {
  width: 500px;
}

.title-button {
  padding-right: 5px;
}

.images {
  padding-top: 30px;
}

.title-line-mobile {
  width: 100%;
}

.save-button {
  margin-left: 10px;
}
