/* You can add global styles to this file, and also import other style files */
@import "~@angular/flex-layout/mq";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
}

.footer {
  padding-bottom: 20px;
  padding-top: 70px;
  color: #a4a4a4;
  text-align: center;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 12px;
  padding-bottom: 3px;
  margin: 0;
  @include layout-bp(xs) {
    font-size: 20px;
  }
  @include layout-bp(sm) {
    font-size: 16px;
  }
}

p {
  font-size: 10px;
  margin: 0;
  line-height: 9.2px;

  @include layout-bp(xs) {
    font-size: 17px;
  }
  @include layout-bp(sm) {
    font-size: 14px;
  }
}

span {
  font-size: 9px;
  @include layout-bp(xs) {
    font-size: 14px;
  }
  @include layout-bp(sm) {
    font-size: 11px;
  }
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

.margin-top {
  margin-top: 5%;
}
