<div fxLayout="column" fxLayoutAlign="center center" class="container">
  <div fxFlex="80">
    <img class="img-title" src="assets/img/bonjour.jpg" width="150" />
    <p class="text">
      Je suis Léna, graphiste et illustratrice free-lance.
      <br />
      Basée à Paris, je serais ravie de travailler
      <br />
      avec vous partout dans le monde :)
      <br />
      N'hésitez pas à
      <a href="mailto:atelier@lenapiroux.com" style="color: #000000;"
        >me contacter</a
      >.
      <br />
      <br />
    </p>

    <img class="img-title" src="assets/img/hi.jpg" width="50" />
    <p class="text">
      I'm Lena, a free-lance graphic designer and illustrator.
      <br />
      Based in Paris, I would love to work with you,
      <br />
      no matter where you are in this world :)
      <br />
      Don't hesitate to
      <a href="mailto:atelier@lenapiroux.com" style="color: #000000;"
        >contact me</a
      >.
    </p>
    <br />
    <br />
    <br />
    <p class="text"><strong>2009-2011 :</strong> Ateliers de Sèvres, Paris</p>
    <p class="text"><strong>2011-2014 :</strong> ENSAV La Cambre, Bruxelles</p>
    <p class="text">
      <strong>10/2014 - 12/2014 :</strong> Stage chez Anamorphee (graphisme)
    </p>
    <p class="text">
      <strong>10/2014 - 02/2015 :</strong>1 Stage chez Paulette Magazine
      (illustration
    </p>
    <p class="text"><strong>2015 - ... :</strong> Freelance !</p>
    <br />
    <br />
    <br />
    <img src="assets/img/bureau.jpg" width="300" height="201" />
  </div>
</div>
