.container {
  width: 500px;
}

.container-sm {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;
  width: 90%;
}

.text {
  color: #666666;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
}

.img-title {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 7px;
}
